body {
  background-image: url('../assets/ruins.png');
}

/* Menu */
.header {
  background-color: black;
  width: 100vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}
.header button {
  border: 1px solid white;
  background-color: black;
  border-radius: 5px;
  width: 35px;
  color: white;
  font-size: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  height: 35px;
}
.header-title p {
  color: white;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  margin-left: 20px;
  text-align: center;
  font-size: 30px;
  font-family: "Cal Sans", sans-serif;
}

/* Content */
#container {
  position: relative;
  height: 300px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
#stone {
  width: 300px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
#sword {
  width: 100px;
  position: fixed;
  bottom: -100px;
  left: 50%;
  -webkit-tap-highlight-color: transparent;
  transform: translateX(-50%);
  z-index: 1;
}
#title {
  font-size: 50px;
  font-family: "Cal Sans", Sans-Serif;
  font-weight: 400px;
  color: white;
  text-align: center;
}
#tap {
  font-size: 70%;
}

/* Lanjut/Ulang */
.play {
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
  width: 90vw;
  align-content: center;
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 3;
}
.play p {
  color: white;
  font-weight: bold;
  text-align: center;
}
.play-button {
  display: flex;
  margin-top: 5px;
}
.play-button button {
  border: 1px solid white;
  background-color: black;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  color: white;
  margin: 10px;
}
